body{
    background-size: cover;
}
h3{
    width: 80%;
    font-size: 22px;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
    margin-left: 300px;
}
#result_of_objects, #result_of_accuracy{
    color: yellow;
}
#head{
    background-image: linear-gradient(to right, rgb(255, 0, 98) 25%, rgb(9, 183, 226) 50%, rgb(101, 223, 19) 75%, rgb(255, 145, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: move 35s linear infinite;
    font-size: 40px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}
@keyframes move{
    to{background-position: 4500vmax;}
}